{% extends "layout.html" %} {% block content %}

<center>
    <h1><u>About Us</u></h1>
</center>
<div class="about">
    <center> “Service of oppressed humanity is service of the almighty”</center>
    <p>
        Established in 2010, Children WELfare Trust is the Top Nonprofit Trust headquartered in delhi India. The organization started 11 years ago with a vision to serve the needy and cure the helpless patients through free corrective surgeries with a will to
        fight a battle with Polio and other related birth disabilities. The trust has become more like a family and home to all the patients and their visitors. The free of cost Disability Treatment at Narayan Seva Sansthan is inclusive of various offerings
        listed below:--</p>

    <ol>
        <li> Treating crippling polio patients through 422750 and counting corrective surgeries, an attempt to make a crawling individual walk without any crutch or support.

        </li>
        <li>Not only providing them a physical aid but ensuring their economical aid through the teaching of various skills and vocational learning which in fact transforms them to be more confident and evolved.

        </li>
        <li> Regular conduction of 'mass marriage ceremonies twice a year for young marriageable 'differently able' and poor boys & girls. To date, a total of 2109 such pairs have been tied in the 'lifelong' knot of marriage with the efforts of the organization.
            All these couples are leading a happy married life.

        </li>
        <li>Polio diagnosis and surgery service camps held at different places organized by children welfare trust have crossed numbers to a great extent. More than 3547 diagnostic & 522 corrective surgery camps have been organized for the selection & treatment
            of polio-affected people.

        </li>
        <li>300-400 patients checked and diagnosed every day, 80-90 corrective surgeries are successfully done and also provided with helping aids viz. artificial limbs, crutches, calipers, tricycles, wheelchairs, hearing aids, blind sticks, etc. among poor
            and the needy ones. More than 1241065 people have been benefitted from the same to date.

        </li>
        <li>For a speedy recovery, physiotherapy, and other post-operation procedures and workshops are available for the patients and the ashrams for the same have crossed the count of 30 cities.

        </li>
        <li> children welfare trust established to provide education to financially weak students. Also, a separate school for specially-abled children with special software like JAWS and other customized amenities. Accommodation, food, and clothing are free
            of cost provided the latter kind of children.

        </li>
        <li> Narayan Seva Sansthan works for ‘the change’ in the society we desire for.</li>
    </ol>
</div>
<style>
    .about {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }
</style> {% endblock %}