{% extends "layout.html" %} {% block content %} {% load static %}
<center>
    <h1><u>Gallery</u></h1>
</center>
<div class="imgdiv">
    <div class="card-group">
        <div class="card">
            <img src="{% static 'img/IM1.jpeg' %}" class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/IM2.jpeg' %}" class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/IM3.jpeg' %}" class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="card-group">
        <div class="card">
            <img src="{% static 'img/IM14.jpeg' %}" class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/IM5.jpeg' %}" class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/IM6.jpeg' %}" class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="card-group">
        <div class="card">
            <img src="{% static 'img/IM7.jpeg' %}" class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/IM8.jpeg' %}" class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/IM9.jpeg' %}" class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="card-group">
        <div class="card">
            <img src="{% static 'img/IM10.jpeg' %}" class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/IM11.jpeg' %}" class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/IM12.jpeg' %}" class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
</div>
<style>
    .img {
        width: 300px;
        height: 400px;
    }
    
    .imgdiv {
        padding-left: 110px;
    }
</style>
{% endblock %}