{% extends "layout.html" %} {% block content %}
<div class="updates">
    <ul>
        <li>Update</li>
    </ul>
</div>
<div class="about">

    <p>Children Walfare Trust is an NGO in India based in Delhi. Established in 2010, we have worked extensively for more than 11 years to reach out and rehabilitate differently able people from the underprivileged segment. Children Walfare Trust is focusing
        on alleviating disabilities and providing proper physical, social, and economic rehabilitation to the needy. We do this through well-planned and comprehensive programs in health, education, rehabilitation, corrective surgeries, and helping aid
        distribution making us the best charity organization in India.</p>

    <p>We are an organization that helps the differently able individual realize their hopes, dreams, and ambitions and help those who need just a little extra support. So far, Children Walfare Trust and tireless team with the noble reverences have helped
        over 1000 individuals free of cost corrective surgeries and we don't intend to stop. Apart from corrective surgeries, we also provide free of cost education to Children from tribal belts and vocational training program in employable skills for
        defferently-abled & needy adults. Our other initiatives involve free of cost mass weddings & Divyang Talent shows that focus upon the social rehabilitation of people in need. </p>
    <p>Our aim is to create an inclusive society, where people with disabilities are accepted into the mainstrea, economy and social life. We believe that every single person is special and talented and is just looking for a chance to excel.</p>
</div>
<style>
    .about {
        float: right;
        width: 70%;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .updates {
        float: left;
        width: 20%;
        padding-left: 30px;
    }
</style>
{% endblock %}