 {% extends "layout.html" %} {% block content %}

<body>
    <div class="loginform">
        {% if user.is_authenticated %}
        <li>Hello, {{user.first_name}}</li>
        <li><a href="logout">Logout</a></li>
        {% else %}
        <form action="" method='post'>
            {% csrf_token %} username <input type="text" name="username" id="" required> <br> password <input type="password" name="password" required> <br>


            <input type="reset" value="Reset">
            <input type="submit" value="Login">
        </form>
        {% endif %}
    </div>
</body>
{% endblock %}